@import '../../colors';

.footer {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    font-size: 11px;
    justify-content: center;
    height: 40px;

    img {
        width: 60px;
        height: 30px;
    }

    &__description {
        color: $text_light;
        padding: 0 10px;
    }

    &__link {
        color: $dark;
        text-decoration: none;
    }

    &__stack {
        position: absolute;
        right: 10px;
        color: $text_light;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
    }
}