@import '../../colors';

.installation {
    background: white;
    display: block;
    padding: 20px 40px;
    box-shadow: 0px 0px 61px 6px #e5e5e5;
    margin: 20px;
    transition: all .2s ease-out;
    text-decoration: none;
    width: 17.5%;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        height: 2px;
        background: linear-gradient(45deg, $dark, $light);
        transition: all 0.4s ease-out;
        bottom: 0;
        left: -100%;        
    }

    &:hover {
        transform: scale(1.1);

        &:after {
            left: 100%;
        }
    }

    &__city {
        color: $text_light;
        margin-bottom: 5px;
    } 

    &__address {
        color: $dark;

        i {
            font-size: 13px;
            position: relative;
            top: -1px;        
        }
    }
}