@import './colors';

html, body {
    margin: 0;
    padding: 0;
} 

body {    
    font-family: 'Lato', sans-serif;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.app {

    &-row {
        display: flex;
    }

    &-wrapper {
        background: $gray_dark;
        width: 100%;
        padding: 25px;
    }
}