@import './colors';

html, body {
    margin: 0;
    padding: 0;
} 

body {    
    font-family: 'Lato', sans-serif;
}

@import './colors';

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;        
    margin: 10px 0 5px;
    color: $text_dark;

    &--small {
        font-size: 26px;
    }
}

.subtitle {
    font-size: 20px;
    color: $dark;
    margin-bottom: 60px;       
}

.app {

    &-row {
        display: flex;
    }

    &-wrapper {
        background: $gray_dark;
        width: 100%;
        padding: 25px;
    }
}