@import '../../colors';

.summary {
    height: 45px;
    padding: 10px 20px;
    color: white;
    margin-right: 0px;
    display: flex;
    border-radius: 12px;
    line-height: 40px;
    margin-top: 20px;

    &--low {
        background: $low;
    }

    &--medium {
        background: $medium;
    }

    &--high {
        background: $high;
    }

    &__value {
        border: 2px solid white;
        border-radius: 16px;
        width: 40px;
        height: 40px;
        font-size: 18px;        
        line-height: 41px;
        text-align: center;
        font-weight: bold;     
        margin-right: 10px;   
    }

    &__description {        
        padding-top: 2px;
    }
}