@import '../../colors';
@import '../../mixins';


@keyframes load {
	0% {
		width: 10px;
		height: 10px;
		opacity: 1;
	}

	70% {
		width: 70px;
		height: 70px;
		opacity: 0;
	}

	100% {
		width: 70px;
		height: 70px;
		opacity: 0;
	}
}

.loader {
    width: 150px;
    height: 150px;
    background: transparent;
    position: relative;
    margin: auto;
    margin-top: 50px;
  
    &:before {
      content: "";
      border-radius: 50%;
      box-shadow: inset 0px 1px 84px $dark;
      @include animation(load 1.2s ease-out infinite);
      @include transform(translate(-50%, -50%));
      position: absolute;
      left: 50%;
      top: 50%;
  
    }
  }