$light: #688add;
$dark: #6856e5;
$gray_dark: #f4f5f7;
$gray_light: #fefefe;
$gray_tile: #fcfcfc;
$low: #00b40a;
$medium: #ff9a34;
$high: #f23722; 
$text: #717277;
$text_dark: #464150;
$text_light: #c2c1ca;