@import './colors';

html, body {
    margin: 0;
    padding: 0;
} 

body {    
    font-family: 'Lato', sans-serif;
}

@import './colors';

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 32px;        
    margin: 10px 0 5px;
    color: $text_dark;

    &--small {
        font-size: 26px;
    }
}

.subtitle {
    font-size: 20px;
    color: $dark;
    margin-bottom: 60px;       
}

.app {

    &-row {
        display: flex;
    }

    &-wrapper {
        background: $gray_dark;
        width: 100%;
        padding: 25px;
    }
}

button {
    padding: 0 30px;
    text-align: center;
    background: $light;
    border: 1px solid $light;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.2s ease-out;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    outline: none;

    &:not(:disabled):hover {
        background: $dark;
        color: white;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}